{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'storage/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<!-- <link rel="shortcut icon" href="{% static 'women/images/main.ico' %}" type="image/x-icon"/> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header>
		<nav>
			<div class="left-section">
				<a href="{% url 'home' %}"><h2 class="logo">A-Storage</h2></a>
			</div>
			<div class="center-section">
				<ul>
					<li><a href="{% url 'disk' %}">Диск</a></li>
					<li><a href="{% url 'lenta' %}">Лента</a></li>
				</ul>
			</div>
			<div class="right-section">
				<ul>
					<li><a href="{% url 'profile' %}">{{user.username}}</a></li>
					<li><a href="{% url 'logout' %}">Выйти</a></li>
				</ul>
			</div>
		</nav>
	</header>
	

<!-- Блок контента -->
	<div>
{% block content %}
{% endblock %}
	</div>
<!-- Конец блока контента -->


