{% extends 'storage/base.html' %}

{% block content %}

<h1>Лента</h1>
<h2>Подписки: {{ subs }}</h2>

<h1>Посты</h1>
{% for p in posts %}
<div>
<div><h3>{{p.author}} | {{ p.time_create }}</h3></div>
<div><h3>{{p.desc}}</h3></div>
<div><h3><a href="{{ p.file.get_absolute_url }}">{{p.file}}</a></h3></div>
</div>
<hr>
<h2>Комментарии</h2>
{% for c in comments%}
    {% if c.post == p %}
    <h3>{{c.author}} | {{ c.time_create}}</h3>
    <h3>{{ c.text }}</h3>
    {% endif %}
{% endfor %}
<h2>Оставить комменатрий</h2>
<form action="{% url 'add_comment' p.pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{f.id_for_label}}">{{f.label}}</label>{{ f }}</p>
    <div class="form-error">{{f.errors}}</div>
    {% endfor %}
    <button type="submit">Добавить</button>
</form>
<p></p>
<hr>
{% endfor %}

{% endblock %}