{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'storage/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<!-- <link rel="shortcut icon" href="{% static 'women/images/main.ico' %}" type="image/x-icon"/> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="index-body">
	<header>
		<nav>
			<div class="left-section">
				<a href="{% url 'home' %}"><h2 class="logo">Storage</h2></a>
			</div>
			<div class="center-section">
				<ul>
					
				</ul>
			</div>
			<div class="right-section">
				<ul>
					<li><a href="{% url 'login' %}">Войти</a></li>
				</ul>
			</div>
		</nav>
	</header>

<div class="center-form">
    <div class="login-form">
        <form method="post">
            <h1>{{ title }}</h1>
            {% csrf_token %}
            {% for f in form %}
            <p><label class="form-label" >{{ f.label }}:  </label><p><p>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>

            {% endfor %}
            <button class="login-b" type="submit">Регистрация</button>
        </form>
    </div>
</div>
</body>