{% extends 'storage/base.html' %}


{% block content %}
<script>
    function toggleBlock(pk) {
      var block = document.getElementById(pk);
      if (block.style.display === "none") {
        block.style.display = "block"; // Раскрываем блок
      } else {
        block.style.display = "none"; // Скрываем блок
      }
    }
  </script>
<div class="lenta">
    <div class="lenta-block">
        <div class="profile">
            <h1>Ник: {{ user_info.username }}</h1>
            <h2>Имя: {{ user_info.first_name}}</h2>
            <h2>Фамилия: {{ user_info.last_name }}</h2>
            {% if subs == 1 %}
            <form action="{% url 'plus_sub' user_info.username %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" name="sub" value="submit">Подписаться</button>
            </form>
            {% else %}
            <form action="{% url 'minus_sub' user_info.username %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" name="sub" value="submit">Отписаться</button>
            </form>
            {% endif %}
        </div>



        <div id="post-container" class="post-container">
            <h1 class="lenta-tit">Посты</h1>
            {% for p in posts %}
            <div class="post">
            <div><h3>{{p.author}} | {{ p.time_create }}</h3></div>
            <div><h3>{{p.desc}}</h3></div>
            <div><h3><a href="{{ p.file.get_absolute_url }}">{{p.file}}</a></h3></div>
            <button class="tog-btn" onclick="toggleBlock('comments_{{ p.pk }}')">Комментарии</button>
            <div id="comments_{{ p.pk }}" class="hidden-block">
                {% for c in comments%}
                    {% if c.post == p %}
                    <h3>{{c.author}} | {{ c.time_create}}</h3>
                    <h3>{{ c.text }}</h3>
                    {% endif %}
                {% endfor %}
                <h2>Оставить комменатрий</h2>
                <form action="{% url 'add_comment' p.pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {% for f in form %}
                    <p><label class="form-label" for="{{f.id_for_label}}">{{f.label}}</label>{{ f }}</p>
                    <div class="form-error">{{f.errors}}</div>
                    {% endfor %}
                    <button type="submit">Добавить</button>
                </form>
            </div>
            <p></p>
            </div>
            <p></p>
            <hr>
            {% endfor %}
        </div>  
    </div>
</div>
{% endblock%}

