body {
  margin:0;
}

header {
    
    background-color: #fff;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .left-section {
    order: 1;
    margin-left: 1%;
  }
  .left-section a {
    color: #000;
    text-decoration: none;
  }
  
  .center-section {
    order: 2;
    text-align: center;
    margin-right: 3%;
  }
  
  .right-section {
    order: 3;
    text-align: right;
    margin-right: 2%;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0;
    font-size: 18px;
  }
  
  nav ul li a {
    
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border: none;
    padding: 10px;

  }

  .selected {
    color: #fff;
    background-color: #000;
  }

  nav ul li a:hover {
    color: #fff;
    background-color: #000;
  }
  nav ul li:last-child {
    margin-right: 0;
  }

  .disk {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3%;
    width: 95%;
    border: none;
    border-radius: 30px;
    align-items:flex-start;
    margin: auto;
  }

  .menu {
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    margin-bottom: 3%;
    border-radius: 50px;
    text-align: center;
    padding: 2%;
  }

  .list-articles {
    list-style-type: none;
    
  }

  .files {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    border-radius: 50px;
    width: 1050px; 
    min-height: 800px;

  }
  
  .list-f {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    min-width: 150px; 
    height: 150px; 
    margin: 10px; 
    border-radius: 30px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
  }

  .list-f:hover {
    background-color: #ebf9fc;
  }
  
  .list-f h2 {
    flex-grow: 1;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .list-f a {
    flex-grow: 1;
  }
  
  .list-f p {
    margin-top: 20%;
  }
  
.dropbtn {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #ddd;}


.home {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #ffffff, #f0f8ff, #d2f5ff, #a7f5ff, #78f4ff);
  height: 100vh;
}


.home-block{
  display: flex;
  align-items:center;
  justify-content: space-between;
  width: 70%;
  height: 500px;
  margin-bottom: 5%;
  border-radius: 30px;
  backdrop-filter: blur(8px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #78F4FF;
  background-image: linear-gradient(to right, #ffffff, #f0f8ff, #d2f5ff, #a7f5ff, #78f4ff);
}

.home-info {
  margin-top: 0%;
  margin-left: 5%;
  font-family: Arial, sans-serif;
}

.home-info h2 {
  font-size: 42px;
}

.home-info p {
  font-size: 18px;
}

.home-ref {
  margin-right: 10%;
  text-align: center;
  align-self: center;
  font-family: Arial, sans-serif;
}

.home-ref a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
}

.home-ref a:hover {
  box-shadow: none;
}

.index-body {
  margin: 0;
}

.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #ffffff, #f0f8ff, #d2f5ff, #a7f5ff, #78f4ff);
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 5%;
  border-radius: 35px;
  background-color:white;
  font-family: Arial, sans-serif;
}

.form-input {
  border: 1px solid #000;
  border-radius: 10px;
  height: 30px;
  
}

.form-label {
  font-size: 18px;
}

.login-b {
  text-decoration: none;
  height: 40px;
  width: 100px;
  margin-left: 20%;
  background-color: #fff;
}

.login-b:hover {
  background-color: #000;
  color: white;
}

.disk-b {
  text-decoration: none;
  height: 40px;
  width: 100px;
  margin-left: 0;
  background-color: #fff;
}

.disk-b:hover {
  background-color: #000;
  color: white;
}

.file-up {
  background-color: white;
  font-size: 16px;
  border-radius: 35px;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

::-webkit-file-upload-button {
  color: white;
  background: #000;
  border: none;
  border-radius: 50px;
  padding: 10px;
}

::-webkit-file-upload-button:hover {
  background-color:#ccc;
  color:#000;
}

.hidden-block{
  display: none;
}

.main {
  height: 100vh;
  background-color: #f2f2f2;
}

.lenta {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  
}

.lenta-block {
  margin-top: 1%;
  display: flex;
  align-items:flex-start;
  justify-content: flex-start;
  width: 50%;
  flex-direction: column;
  margin-bottom: 5%;
  border-radius: 30px;
  backdrop-filter: blur(8px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  min-height: 600px;

}

.lenta-subs {
  align-self: flex-start;
  margin-left: 10%;
  
}

.lenta-tit {
  align-self: flex-start;
  margin-left: 10%;
}

.post-container {
  display: flex;
  flex-direction: column;
  border-radius: 35px;
  width: 100%;
  justify-content: flex-start;
  min-height: 600px;
 
}

.post {
  display: flex;
  flex-direction: column;
  border-radius: 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 600px;
  align-self: center;
  padding: 5px;
}

.tog-btn {
  text-decoration: none;
  background-color: white;
}
.tog-btn:hover {
  
  background-color: #f2f2f2;
}

.profile {
  display: flex;
  flex-direction: column;
  border-radius: 35px;
  width: 80%;
  justify-content: flex-start;
  margin-left: 10%;
}
